name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    name: Python ${{ matrix.python-version }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 23

      - name: Install @devcontainers/cli
        run: npm install --location=global @devcontainers/cli@0.76.0

      - name: Start Dev Container
        run: |
          git config --global init.defaultBranch main
          devcontainer up --workspace-folder .
        env:
          PYTHON_VERSION: ${{ matrix.python-version }}

      - name: Lint app
        run: devcontainer exec --workspace-folder . poe lint

      - name: Test app
        run: devcontainer exec --workspace-folder . poe test
